<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webIQ</title>

  <link rel="stylesheet" href="../static/styles/disstyle.css">
</head>

<body>
  <div class="container">
    <h1 class="heading">DESCRIPTIONS:-</h1>

    <div class="profiles">
      <div class="profile">
        <img src="../static/styles/assets/tnspic.png" class="profile-img">


  
        

        <h3 class="user-name">Total Network Scan</h3>
        
        <p> In this module a host discovery scan to discover which all hosts are live on your network , and associated information such as IP address, FQDN, MAC address etc.


        </p>
      </div>





      <div class="profile">
         <img src="../static/styles/assets/tcppic.png" class="profile-img">
       

        <h3 class="user-name">Tcp Syn Scan</h3>
        
        <p> It is a basic scan, and it is also called half-open scanning because this technique allows to
get information from the remote host without the complete TCP handshake process
TCP connect scanning commonly involves establishing a full connection, and then             subsequently tearing it down, and therefore involves sending a significant number of packets to each port that is scanned. Compared to other types of scans, a TCP Connect scan is slow and methodical

</p>
      </div>





      <div class="profile">
         <img src="../static/styles/assets/verpic.png" class="profile-img">
      

        <h3 class="user-name">Version Detection</h3>
        
        <p>version detection to assist in gathering more detail on the services and applications running on the identified open ports. Version detection uses a variety of probes, located in the nmap-services-probes file, to solicit responses from the services and applications. Nmap queries the target host with the probe information and analyzes the response, comparing it against known responses for a variety of services, applications, and versions
</p>
      </div> 



         <div class="profile">
           <img src="../static/styles/assets/ospic.png" class="profile-img">
      

        <h3 class="user-name">OS Detection</h3>
        
        <p>One of the most important features is the ability to detect remote operating systems and software. It is very helpful during a penetration test to know about the operating system and the software used by the remote computer because you can easily predict the known vulnerabilities from this information
!</p>
      </div> 




         <div class="profile">
           <img src="../static/styles/assets/aggpic.png" class="profile-img">
       

        <h3 class="user-name">Aggressive Scan</h3>
        
        <p>In this Aggressive mode enables OS detection , version detection , script scanning, and trace route. This mode sends a lot more probes, and it is more likely to be detected, but provides a lot of valuable host information
</p>
      </div>








    </div>
  </div>
</body>

</html>