.center{
    
     padding: auto;
    text-align: center;
    align-self: center;
  }
  .custom-field input{

    border: none;
    -webkit-appearance: none;
    -ms-apperance:none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 5px;
    width: 250px;
    outline: none;
    font-size: 14px;

  }
  .custom-field{
    position: relative;
    font-size: 20px;
    padding-top: 40px;
    margin-bottom: 5px;
    

  }
  .custom-field .placeholder{
    position: absolute;
    left:80px;
    top: 25px;
    top:calc(50% + 10 px);
    transform: translate(-50%);
    color: #aaa;
    transition: 
    top 0.3s ease,
    font-size 0.03s ease,
    color 0.3s ease;
    }
    .custom-field input:valid + .placeholder,
  .custom-field input:focus + .placeholder{
    top: 15px;
    left:50px;
    font-size: 10px;
    color: #222;
  }

  *,*::before, *::after{
    box-sizing: border-box;
  }
 
  body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4481eb
  }
  @import url('https://fonts.googleapis.com/css?family=Poppins');

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  
 
  
  .selectnone {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  button {
    width: 150px;
    height: 50px;
    background: none;
    border: 2px solid #103096;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    position: relative;
    left:60px;
  }
  
  button:hover {
    width: 170px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  }
  
  span, svg {
    position: absolute;
    color: #2e6e93;
    fill: transparent;
    transition: .4s;
  }
  
  button:hover span {
    transition: .4s;
    font-size: 16px;
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid transparent;
    width: 50px;
    border-left: 2px solid #2e5a93;
    border-bottom: 2px solid #2e6593;
    animation: spin 2s 500ms forwards;
  }
  
  button:focus span {
    color: transparent;
  }
  
  button:focus svg {
    animation: check 500ms 2300ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #292626;
    }
    100% {
      transform: rotate(1080deg);
      border: 2px solid #222121;
    }
  }
  
  @keyframes check {
    to {
      fill: #1b1819;
    }
  }
  
  @keyframes circle {
    to {
      border: 2px solid #302e93;
    }
  }
  
